# Virtual Environment
venv/
.venv/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Mac
.DS_Store
temp(progress).txt

# Vector Database
vectorstore/faiss_index/

# Uploaded PDFs
data/uploaded_pdfs/

# Logs
*.log

# Build Files
build/
dist/
*.egg-info/

# Coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/